#body{
    background-color: #011627;
    height: 100vh;
}

/* .container{
    background-color: #011627;
} */

#loginCard{
    background-color: white;
    border-radius: 5px;
    padding: 40px;
} 

#signUpCard{
    background-color: white;
    border-radius: 5px;
    padding: 40px;
}

.u-full-width {
    width: 100%;
    box-sizing: border-box; 
}

