#body{
    background-color: #011627;
    height: 100vh;
}

/* .container{
    background-color: #011627;
} */

#loginCard{
    background-color:rgba(255,255,255, 0.2);
    border-radius: 5px;
    padding: 40px;
} 

#signUpCard{
    background-color:rgba(255,255,255, 0.2);
    border-radius: 5px;
    padding: 40px;
}

.u-full-width {
    width: 100%;
    box-sizing: border-box; 
}

#homeCard{

    background-color:rgba(255,255,255, 0.2);
    /* background-color: white; */
    border-radius: 5px;
}

#dash{
    display:flex;
    justify-content: space-between;
    padding: 20px;
}

#searchInput{
    display:flex;
    justify-content: center;
    padding: 20px;
}

