<div class="card">
    <h4 class="card-header">Create New Event</h4>
    <form class="card-body new-event-form" id="new-event-form">
        <label for="event-title" class="form-label">Title</label>
        <input type="text" id="event-title" name="event-title" class="form-input" />


        <label class="form-label" for="content">Content</label>
        <input id="content" name="content" class="form-input" />

        <button type="submit" class="btn">Create</button>
    </form>
</div>

<script src="/public/js/event.js"></script>