{{#if loggedIn}}
<section class="container">  
  <section class="flex-row justify-center">
    {{#each events as |event|}}
      {{> dashboard-eventinfo event}}
    {{/each}}
  </section>
</section>
{{/if}}

<button type="submit" class="btn"><a class="link" href="/dashboard/new">New Event</a></button>

<script src="/javascript/event.js"></script>
