{{#if loggedIn}}

    <body id="body">

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="container">
            <div class="row" id="titleRow">
                <div class="twelve columns">
                    <h1 id="title">group<span id="mic">🎤</span>e</h1>
                </div>

            </div>
        </div>


        <div class="container" id="homeCard">

            <div class="row">

                <br>
                <br>

                <div class="twelve columns" id="dash">
                    <button class="button-primary" id="jared-button">Search Tours</button>
                    <button class="button-primary" id="jared-button">My Tours</button>
                    <button class="button-primary" id="jared-button">Log Out</button>
                </div>

            </div>

            <div class="row" id="searchRow">

                <div class="twelve columns" id="searchInput">
                    <input type="text" class="artistSearch" placeholder="Enter artist name">
                    <button class="button-primary searchBtn" id="jared-button" type="button">Search</button>
                </div>

            </div>

        </div>
    </body>
    {{/if}}
