<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row" id="titleRow">
            <div class="twelve columns">
                <h1 id="title">group<span id="mic">🎤</span>e</h1>
            </div>
        </div>
        <div class="row">
            <div class="six columns" id="loginCard">
                <h4 style= color:yellow>Log In</h4>
                <input placeholder="email" class="form-input u-full-width" type="text" id="email-login" />
                <input placeholder="password" class="u-full-width" type="password" id="password-login" />
                <button class="button-primary u-full-width login-form" type="submit" value="Log In">Log In</button>
            </div>
            <div class="six columns" id="signUpCard">
                <h4 style= color:yellow>Sign Up</h4>
                <input placeholder="username" class="form-input u-full-width" type="text" id="userName-signUp" />
                <input placeholder="email" class="form-input u-full-width" type="text" id="email-signUp" />
                <input placeholder="password" class="u-full-width" type="password" id="passWord-signUp" />
                <button class="button-primary u-full-width signup-form" type="submit" value="Sign Up">Sign Up</button>
            </div>
        </div>
    </div>
<script src="./js/login.js"></script>