 body {
  height: 100vh;
  background-image: url("../images/swtTourDarker.png");
  background-size: cover;
  /* background-size: 110% 110%; */
  background-position: center center;
  /* animation: shrink 190s infinite alternate; */
}
/* @keyframes shrink {
0% {
  background-size: 150% 150%;
}
100% {
  background-size: 100% 100%;
}
} */

#title{
  font-family: 'Raleway Dots', cursive;
  /* font-family: 'Fredoka One', cursive; */
  color:#ffff00;
  font-size: 9rem;
  /* text-align: center; */
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 24px #fff, 0 0 30px #fff, 0 0 35px #fff;
}

#mic{
  font-size: 6rem;
}

#loginCard{
  background-color:rgba(202, 86,255, 0.4);
  border-radius: 50% 20% / 10% 40%;
  padding: 40px;
} 

#signUpCard{
  background-color:rgba(202, 86,255, 0.4);
  border-radius: 50% 20% / 10% 40%;
  padding: 40px;
}

.u-full-width {
  width: 100%;
  box-sizing: border-box; 
}

#homeCard{
  background-color:rgba(202, 86,255, 0.4);
  border-radius: 40px;
}

#dash{
  display:flex;
  justify-content: space-between;
  padding: 20px;
}

#searchInput{
  display:flex;
  justify-content: center;
  padding: 20px;
}

#searchResultRow{
  padding-left: 2rem;
  padding-right: 2rem;
}

/* #searchResultCard1{
  background-color: white;
  padding: 0.5rem;
  text-align: center;
  border-radius: 50% 20% / 10% 40%;
  box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, .5);
}

#searchResultCard2{
  background-color: white;
  padding: 0.5rem;
  text-align: center;
  border-radius: 50% 20% / 10% 40%;
  box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, .5);
}

#searchResultCard3{
  background-color: white;
  padding: 0.5rem;
  text-align: center;
  border-radius: 50% 20% / 10% 40%;
  box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, .5);
  
}

#searchResultCard4{
  background-color: white;
  padding: 0.5rem;
  text-align: center;
  border-radius: 50% 20% / 10% 40%;
  box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, .5);
} */

.result-card{
  background-color: white;
  padding: 0.5rem;
  text-align: center;
  border-radius: 50% 20% / 10% 40%;
  box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, .5);
}

.jared-button{
  background-color: #00e8fc;
  border-color: #00e8fc;
}



#myTourRow{
  padding-right: 12rem;
  padding-left: 12rem;
}


#tourTable{
  background-color: white;
  border-radius: 50% 20% / 10% 40%;
  box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, .5);
  padding-right: 4rem;
  padding-left: 4rem;
}
